.row{
    display:flex;
    flex-wrap: wrap;

    float:left;
}

.column{
    flex: 50%;
    padding: 0 4px;
    

}

.column img{
    vertical-align: middle;
    width:200px;
    height: 200px;
    margin: 5px;
}
.container-box{
    position:relative;
    text-align: center;
    color: #efee7e;
    margin:10px;
}

h4{
    color: white;
}
h3{
    color: #efee7e;
}

.text-block{
    position: absolute;
    top: 83.5%;
    left: 50%;
    width:200px;
    background-color: hsl(174, 72%, 56%);
    opacity: 75%;
    transform: translate(-50%,-50%);

}
