.row{
    display:flex;
    flex-wrap: wrap;
    padding: 0 4px;
    float:left;
}

.column{
    flex: 50%;
    padding: 0 4px;

}

.column img{
    vertical-align: middle;
    width:200px;
    height: 200px;
    margin: 5px;
}
.container-box{
    position:relative;
}

h3{
    color: #efee7e;
}

.text-block{
    position: absolute;
    bottom:20px;
    right:20px;
    background-color: hsl(174, 72%, 56%);
    color: white;
    padding-left: 20px;
    padding-right: 20px;  
}
