*{
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height:100%;
    margin: 0;
    padding: 0;
    background-image: url('surface-945444_1920.jpg');
}


.body{
margin: auto;
width: 960px;
position: relative;
min-height:100%;

}
#main{
    overflow: auto;
}
.topnav {
    background-color:#efeee7;
    margin-bottom: 20px;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
    align-items: center;
    display: flex;
  }

ul{
  
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 20px;
}


li, a{
    float: left;
    text-align: center;
    list-style: none;
    text-decoration: none;
    color: #bbb;
    margin-left: 10px;
}

.nav-right a:hover{
    color: hsl(174, 72%, 56%);
}

.active{
    
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 8%;
    margin-right: 28%;
    padding: 30px;
    color: #efeee7;
    background: hsl(174, 72%, 56%);
   
}

.content{
    overflow: hidden;
    background: #efeee7;
   
    padding-bottom: 10px;
}

#My-image {
    float: left;
    max-width:75%;
    max-height: 75%;
    margin: 20px 20px 20px 20px;
    
}

#Aboutme-text{
    float: left;
    margin: 5px;
}

h2{
    color: hsl(174, 72%, 56%); 
    margin-left: 30px;
    font-size: 45px;
}
#bio{
color: #bbb;
margin: 20px 20px 20px 20px ;
}

hr{
    border:1px solid #bbb;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: auto;
    
}
#footer{
    background-color:#333;
    height: 50px;
    margin-top: 20px;
    width: 100%;
    border-top: 5px solid hsl(174, 72%, 56%);
    position: fixed;
    left:0;
    bottom:0;
    text-align: center;
    color: #efeee7;
    clear: both;
  
}
 
